body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: rgb(188, 180, 171);
}

h1 {
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}

#calculator {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-self: center;
    background-color: rgb(68, 65, 61);
    border-radius: 10px;
    flex-shrink: 0;
}
#display {
    background-color: rgb(244, 243, 230);
    height: 80px;
    margin-bottom: 50px;
    text-align: right;
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 10px;
}
#buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 320px;
}
#row1, #row2, #row3, #row4, #row5{
    display: flex;
    justify-content: space-between;
}
#n0 {
    margin-right: 80px;
}
.operation, #clear, #equal {
    background-color: rgb(204, 150, 69);
}

.number {
    background-color: rgb(218, 207, 194);
}

button {
    border-radius: 50px;
    box-sizing: border-box;
    flex-shrink: 0;
    font-size: 30px;
    text-align: center;
    height: 80px;
    width: 80px;
}
